<div class="evanced-item evanced-day-{{ when.day }}">
    <div class="evanced-date">
        <div class="evanced-month">{{ when.month }}</div>
        <div class="evanced-day">{{ when.day }}</div>
    </div>

    <div class="evanced-info">
      <div class="evanced-title-link"><a href="{{ link }}">{{ title }}</a></div>
      <div class="evanced-time">{{ when.time }}</div>
    </div>
</div>